@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url("../font/SCDream3.woff2") format("woff2"),
    url("../font/SCDream3.woff") format("woff"),
    url("../font/SCDream3.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url("../font/SCDream4.woff2") format("woff2"),
    url("../font/SCDream4.woff") format("woff"),
    url("../font/SCDream4.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url("../font/SCDream5.woff2") format("woff2"),
    url("../font/SCDream5.woff") format("woff"),
    url("../font/SCDream5.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url("../font/SCDream6.woff2") format("woff2"),
    url("../font/SCDream6.woff") format("woff"),
    url("../font/SCDream6.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url("../font/SCDream7.woff2") format("woff2"),
    url("../font/SCDream7.woff") format("woff"),
    url("../font/SCDream7.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url("../font/SCDream8.woff2") format("woff2"),
    url("../font/SCDream8.woff") format("woff"),
    url("../font/SCDream8.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url("../font/SCDream9.woff2") format("woff2"),
    url("../font/SCDream9.woff") format("woff"),
    url("../font/SCDream9.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
