@charset "UTF-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    color: #333;
    text-decoration: none;
}


/* 헤더 */
.korea {
    width: 100%;
    height: 36px;
    background: #E2E2E2;
    display: flex;
    box-sizing: border-box;
}

.korea>div {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.korea p {
    text-align: center;
    font-size: 14px;
    font-family: 'S-CoreDream-3Light';
}

.korea_a::before {
    content: "";
    background: url("../image/korea.png");
    width: 18px;
    height: 12px;
    margin-right: 10px;
}

.inner_warp {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
}

.header_inner {
    height: 43px;
    background: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner_text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 412px;
}

.header_inner li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    font-family: 'S-CoreDream-3Light';
}

.header_weather {
    display: flex;
    align-items: center;
    gap: 8px;
    right: 0;
}

.header_weather p {
    font-size: 14px;
    color: #fff;
    font-family: 'S-CoreDream-3Light';
}

.header_weather b {
    font-size: 14px;
    color: #FFF645;
}

.nav {
    width: 100%;
    height: 115px;
    border-bottom: #e7e7e7 solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_warp {
    width: 1440px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav img {
    width: 230px;
}

.nav_warp a {
    font-size: 23px;
    font-family: 'S-CoreDream-5Medium';
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_warp>a:last-child {
    font-size: 18px;
    font-family: 'S-CoreDream-3Light';
    color: #fff;
    background: #01A7B7;
    width: 130px;
    height: 40px;
    gap: 10px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
}

.nav_warp>a:last-child::before {
    content: "";
    background: url("../image/star.png") no-repeat;
    width: 17px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.hover {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 196px;
    width: 1440px;
    background: #fff;
    z-index: 90;
    border-radius: 0 0 18px 18px;
    box-shadow: 0 18px 40px rgba(16, 24, 40, .08);
    overflow: hidden;
}

.hover_title {
    width: 270px;
    background: #2BB3C5;
    color: #fff;
    display: flex;
    align-items: right;
    justify-content: end;
    padding: 50px;
    box-sizing: border-box;
}

.hover_title p {
    font-family: 'S-CoreDream-5Medium';
    font-size: 30px;
    color: #fff;
}

.hover_panel {
    display: none;
    flex: 1;
    background: #fff;
}

.hover_panel.active {
    display: block;
}

.row {
    display: grid;
    grid-template-columns: 260px 1fr;
    border-bottom: 1px solid #CDCDCD;
}

.row:last-child {
    border-bottom: none;
}

.left {
    background: #f6f6f6;
    padding: 16px 18px;
    white-space: nowrap;
}

.left a {
    font-size: 16px;
    font-family: 'S-CoreDream-4Regular';
    color: #333;
}

.right {
    padding: 14px 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 18px;
    align-items: center;
}

.right a {
    font-size: 15px;
    font-family: 'S-CoreDream-4Regular';
    position: relative;
    padding-left: 14px;
    color: #333;
    text-decoration: none;
    line-height: 1.8;
}

.right a::before {
    content: "·";
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
}

.right>.sub {
    font-family: 'S-CoreDream-6Bold';
    font-size: 18px;
}

.right a:hover {
    color: #01A7B7;
    text-decoration: underline;
}

.nav_warp a:hover {
    color: #01A7B7;
}

.list:before,
.nav_warp a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.list:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.list:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.list:hover:before,
.list:hover:after,
.list:focus:before,
.list:focus:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/* 메인 */

.sub_visual {
    width: 100%;
    height: 340px;
    display: flex;
    position: relative;
}

.sub_visual img {
    width: 100%;
    display: flex;
}

.sub_visual p {
    position: absolute;
    width: 100%;
    top: 35%;
    font-size: 80px;
    letter-spacing: 10px;
    font-family: 'S-CoreDream-8Heavy';
    color: #fff;
    text-align: center;
}



.sub_nav {
    width: 1680px;
    height: 80px;
    display: flex;
    background: #01A7B7;
    float: right;
    align-items: center;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    position: absolute;
    right: 0;
    top: 300px;
}

.sub_nav img {
    width: 35px;
    height: 31px;
}

.sub_warp {
    width: 900px;
    display: flex;
    margin-left: 55px;
    align-items: center;
}

.sub_warp a {
    color: #fff;
    font-size: 20px;
    font-family: 'S-CoreDream-4Regular';
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.sub_warp span {
    height: 40px;
    width: 1px;
    background: #41BDC9;
    margin-right: 40px;
}

.sub_warp a:nth-child(1):after,
.sub_warp a:nth-child(3):after {
    width: 20px;
    height: 20px;
    content: "";
    background: url("../image/sub_down_arrow.png") no-repeat;
    margin-top: 5px;
    margin-left: 100px;
}



.main_warp {
    width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
}

.main_title {
    display: flex;
    align-items: center;
}

.main_title p {
    font-family: 'S-CoreDream-8Heavy';
    font-size: 35px;
    margin-left: 35px;
}

.main_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

.main_1>p {
    font-family: 'S-CoreDream-8Heavy';
    font-size: 35px;
    margin-left: 35px;
}

.main_1_text {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_1_text img {
    width: 90px;
    height: 90px;
    margin-bottom: 38px;
}

.main_1_text b {
    font-family: 'S-CoreDream-6Bold';
    font-size: 30px;
    margin-bottom: 38px;
    margin-left: none;
}

.main_1_text p {
    font-family: 'S-CoreDream-4Regular';
    font-size: 18px;
    text-align: center;
    margin-bottom: 38px;
    line-height: 30px;
}

.main_1_text span {
    width: 270px;
    height: 60px;
    border: #000 solid 1px;
    border-radius: 55px;
    font-family: 'S-CoreDream-4Regular';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}














/* 푸터 */
.footer_top {
    width: 100%;
    height: 65px;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 190px;
}

.footer_top_text {
    width: 1440px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}

.footer_top_text a {
    font-family: 'S-CoreDream-5Medium';
    font-size: 16px;
    display: flex;
    text-align: center;
}

.footer_top_text li {
    display: flex;
}

.footer_top_text li::after {
    content: "";
    border-right: 1px solid #CDCDCD;
    padding-right: 85px;
}

.footer_top_text li:last-child {
    border-right: none;
    padding-right: 0px;
}

.footer_bottom {
    width: 1440px;
    margin: 0 auto;
}

.footer_bottom_warp {
    width: 1440px;
    height: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.footer_wrap {
    margin-left: 50px;
}

.logo {
    width: 155px;
    height: 35px;
}

.wa {
    width: 100px;
    right: 0;
    position: absolute;
}

.footer_bottom_info {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer_bottom_info li {
    content: "";
    border-right: #CDCDCD 1px solid;
    padding-right: 23px;
}

.footer_bottom_info li:last-child {
    border-right: none;
}

.footer_bottom_info a,
.footer_bottom_info b {
    font-size: 14px;
    font-family: 'S-CoreDream-3Light';
}

.footer_bottom_info b {
    font-family: 'S-CoreDream-8Heavy';
}

.footer_text {
    display: flex;
}

.footer_wrap p {
    font-size: 14px;
    font-family: 'S-CoreDream-3Light';
}

.footer_wrap p:last-child {
    padding-top: 15px;
}